In [28]:
# data preprocessing

In [29]:
import pandas as pd
import numpy as np
import matplotlib . pyplot as plt

In [30]:
# data = pd.read_csv('all_perth.csv')
# data.head()

In [46]:
data = pd.read_excel('Survey.xlsx',na_values=["?",'&',"#"])
data.head(3)

   Age  Gender  Height  Weight Maritalstatus  Employment      Education
0   65  Female   110.0    55.0       Married  House-wife        Primary
1   23  Female   154.0    52.0     Unmarried    Semi-gov  Post Graduate
2   43    Male     NaN    64.0       Married  Government       Graduate

In [45]:
data.isnull().sum()

Age              0
Gender           0
Height           2
Weight           2
Maritalstatus    0
Employment       1
Education        2
dtype: int64